html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #00796b;
  position: relative;
  font-family: "Verdana", sans-serif;
}

.container {
  position: absolute;
  padding: 10px 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 220px;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 40px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 40px 15px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}

.output {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
}

#rawData {
  padding: 7px 12px;
  width: 30%;
  -moz-appearance: textfield;
}

.elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(80%);
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.submit {
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-family: "Verdana", sans-serif;
  padding: 10px 20px;
  background-color: #035047;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.submit:hover {
  background-color: #00796b;
}